.Xauthority
.local/share/weatherreport
.audacity-data/
.bash_logout
.bash_profile
.bashrc
.config/BraveSoftware
.config/GIMP
.config/Insomnia/
.config/Kitware
.config/QtProject.conf
.config/RexuizDev
.config/Thunar/
.config/Unknown\ Organization/
.config/VirtualBox
.config/cef_user_data
.config/configstore/
.config/dconf
.config/discord/
.config/htop/
.config/libreoffice
.config/mimeapps.list
.config/msmtp/
.config/mutt/
.config/neofetch
.config/npm
.config/nvim/.netrwhist
.config/nvim/plugged
.config/nvim/undodir
.config/nvm/
.config/pulse
.config/spotify
.config/transmission-daemon/dht.dat
.config/transmission-daemon/resume/
.config/transmission-daemon/stats.json
.config/transmission-daemon/torrents/
.config/xfce4/
.config/zoomus.conf
.config/zsh/.zcompdump
.config/zsh/.zcompdump
.config/zshnameddirrc
.electron-gyp/
.gitconfig
.gnupg
.irssi/
.java/
.local/include
.local/lib
.local/share/Steam
.local/share/calcurse
.local/share/cool-retro-term/
.local/share/fonts
.local/share/gnupg/
.local/share/go/
.local/share/gsettings-data-convert
.local/share/gvfs-metadata/
.local/share/history
.local/share/icons/
.local/share/lf
.local/share/mail/
.local/share/node_repl_history
.local/share/nvim
.local/share/password-store/
.local/share/qutebrowser/
.local/share/recently-used.xbel
.local/share/src/
.local/share/vulkan
.local/share/webkitgtk
.local/share/xorg
.local/share/zathura
.mbsyncrc
.minecraft
.npm/
.nvidia-settings-rc
.pki
.pulse-cookie
.python_history
.rexuiz/
.sc-iminfo
.ssh
.steam/
.steampath
.steampid
.urlview
.vim
.zoom
00storage/
Desktop/
VirtualBox VMs/
arch-rice-test
dev/
documents/
downloads/
pictures/
videos/
